body, ul {
	margin:0;
	padding:0;
	background-color:#FCFCFC;
}
body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	height:100px;
	font-size:20px;
	font-weight:500;
    border-bottom: 1px solid #CCC;
    background-color:#fff;
}
nav .menu .logo {
	float:left;
	width:250px;
	padding:20px;
}
nav .menu li {
	display:inline;
	float:left;
	padding:40px 30px;

}
nav .menu li a {
	color:#666;
}
nav .menu li a:hover {
	color:#ED1450;
}
.container {
	width:940px;
	margin:50px auto;
}
.wrap {
	width:940px;
	margin:auto;
}